<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer %>
    </p>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>

<!-- tags erb ruby:
 <% recebe código em ruby, não retorna para o html %>,
 <%= retorna resultado do código para o html, COM quebra de linha %>,
 <%= retorna resultado do código para o html, SEM quebra de linha -%>,
 <%# para comentar código %>,
 #{variável} interpolação de variáveis dentor do texto (a lá f-string),
  -->